.lowcode-portal-preview {
  height: 100vh;
  .lowcode-portal-shell {
    height: 100%;
  }
  .pro-layout-page {
    min-height: auto !important;
  }
  .next-shell-content-inner {
    height: 100%;
  }
  .lowcode-portal-renderer {
    height: 100%;
  }
}